.cookie-notice {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    opacity: 0;
    transition: display 1ms, opacity 1s ease-in-out;
    z-index: 3000;

    &.visible {
        display: block;
        opacity: 1;
    }
}

.cookie-notice__inner {
    background: #FFFFCC;
    padding: 3rem 0;
    box-shadow: 1px 0px 15px 5px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.cookie-notice__buttons {
    display: flex;
    flex-wrap: wrap;
}

.cookie-notice__yes-button {
    margin-right: 10px;
}